<%= raw(@companies.all.map { |company|
{
  type: "Feature",
  geometry: {
    type: "Point",
    coordinates: [company.longitude, company.latitude]
  },
  properties: {
    title: "<div><img class='result logo' src='#{company.avatar.url(:thumb)}'><h3>#{company.name} </h3></div>",
    window: "<div><h3><a href='/companies/#{company.id}' target='_blank'><img class='result logo' src='#{company.avatar.url(:thumb)}'><br/>#{company.name}</a>  </h3></div>",
    description: "<ul><li>#{company.get_techs}.</li><li>#{company.location}</li></ul>",
    "marker-id" => "marker-1",
    "marker-color" => "#f86767",
    "marker-size" => "large",
    additional: "<ul style='line-height:initial;padding-top:10px;'><li>#{company.get_techs}.</li><li>#{company.size} employees. Currently #{company.status.downcase}.<a style='float:right; padding-right:20px;' href='/companies/#{company.id}' target='_blank'>View profile</a></li><li>#{company.location}</li>"
  }
} 
}.to_json) %>

