<%= raw(@companies.all.map { |company|
{
  type: "Feature",
  geometry: {
    type: "Point",
    coordinates: [company.longitude, company.latitude]
  },
  properties: {
    title: "<img class='result logo' src='#{company.avatar.url}'><h3>#{company.name}</h3>",
    description: "#{company.location} <a style='float:right; padding-right:20px;' href='/companies/#{company.id}' target='_blank'>View profile</a>",
    "marker-id" => "marker-1",
    "marker-color" => "#f86767"
  }
} 
}.to_json) %>