.item
  border-top: 1px solid #eee
  color: #444
  display: block
  line-height: 80px
  text-decoration: none
  +box-sizing(border-box)
  +pie-clearfix

  .logo
    float: left
    margin-right: 15px
    max-width: 80px

  h3
    float: left
    font-weight: bold
    text-transform: uppercase
    width: 20%
    

